* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
}



header {
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 45px;
    color: #0B8F4D;
    font-weight: bold;
    line-height: 75px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

nav a {

    text-decoration: none;
    color: #0B8F4D;
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #005f32;
    transform: scale(1.05);
}

.card-produto {

    width: 90%;
    max-width: 1200px;

    margin: 40px auto;

    border-radius: 10px;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    box-shadow: 0 4px 10px rgba(17, 0, 0, 0.863);
}



.header-2 {
color: #0B8F4D;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.info-produto {
    width: 100%;
    max-width: 500px;
    color: #faf9f9;
    font-size: 14px;
    margin-bottom: 20px;
}

.info-produto h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.div-bone {

    display: flex;
    width: 100%;
    max-width: 350px;
    height: 300px;
    padding: 15px;
    background-image: url(../imagens/produtos/bonesport-preto.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.minha-tabela {
    width: 320px;
}

.minha-tabela th {
    background: #0B8F4D !important;
    color: #ffffff !important;
    font-weight: bold;
    padding: 14px !important;
    width: 40%;
    vertical-align: middle;
    border-right: 1px solid #f1d6d6;
}



.minha-tabela td {
    background-color: #0B8F4D !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
    padding: 14px !important;
    vertical-align: middle;
}


.preco {
    color: #fc1004;
    font-size: 18px;
}

.preco-antigo {
    color: #666;
    text-decoration: line-through;
}


.btn-primary {

    background-color: #0B8F4D !important;
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 55px;
    font-size: 20px;
    transition: 0.3s;
}


.btn-primary:hover {
    background-color: #006f3b !important;
    transform: translateY(-3px) !important;
}

.col-12 {
    display: flex;
    justify-content: center;
}



footer {
    margin-top: 80px;
    background-color: #dfeadf;
    border-top: 2px solid #008f4c;
    padding: 40px;
    text-align: center;
}

footer h2 {
    color: #008f4c;
    font-size: 45px;
    margin-bottom: 20px;
}

footer a {
    color: #008f4c !important;
    text-decoration: none;
    font-size: 20px;
}

footer p {
    margin-top: 20px;
    font-size: 18px;
}



@media (min-width: 480px) and (max-width: 1024px) {

    .card-produto {

        flex-direction: column;

        justify-content: center;
        align-items: center;

        text-align: center;

        gap: 30px;
    }

    .info-produto {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-bone {

        max-width: 280px;
        height: 260px;
    }

    .tabela {

        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    table {

        width: 350px;
        margin: 0 auto;
    }

    footer {

        align-items: center;
    }
}



@media (min-width: 1025px) {

    .card-produto {

        flex-direction: row;

        justify-content: center;
        align-items: center;

        gap: 80px;
    }

    .div-bone {

        max-width: 400px;
        height: 320px;
    }

    table {

        max-width: 420px;
    }

    td {

        font-size: 16px;
        padding: 12px;
    }

    .info-produto h2 {

        font-size: 38px;
    }

    .info-produto p {

        font-size: 18px;
    }
}