* {
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 45px;
    color: #0B8F4D;
    font-weight: bold;
    line-height: 75px;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

nav a {
    
    text-decoration: none;
    color: #0B8F4D;
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #005f32;
    transform: scale(1.05);
}

main{
    
    width: 90%;
    margin: 30px auto;
    padding: 25px;
    border: 2px solid #008f4c;
    border-radius: 25px;
    background-color: #dfeadf;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}



/* FORMULÁRIO */
.form-container {
    max-width: 1100px;
    margin: 50px auto;
    background-color: #dfeadf;
    padding: 50px;
    border-radius: 25px;
    border: 2px solid #008f4c;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.form-container h2 {
    font-size: 55px;
    margin-bottom: 40px;
    color: #008f4c;
}



.form-select {
    height: 55px;
    border-radius: 12px;
    border: 1px solid #008f4c;
    background-color: #f7f7f7;
}

.form-control,
.form-select:focus {
    box-shadow: 0 0 10px rgba(0, 143, 76, 0.3);
    border-color: #008f4c;
}


.form-label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #111;
}


.btn-primary {

    background-color: #0B8F4D !important;
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 55px;
    font-size: 20px;
    transition: 0.3s;
}


.btn-primary:hover {
    background-color: #006f3b !important;
    transform: translateY(-3px) !important;
}

.col-12 {
    display: flex;
    justify-content: center;
}

.logo-area {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo-lacoste {
    width: 340px;
    height: 120px;
    background-image: url("../imagens/logo/logo-lacosteverde.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: 0.3s;
}

.logo-lacoste:hover {
    transform: scale(1.08);
}


footer {
    margin-top: 80px;
    background-color: #dfeadf;
    border-top: 2px solid #008f4c;
    padding: 40px;
    text-align: center;
}

footer h2 {
    color: #008f4c;
    font-size: 45px;
    margin-bottom: 20px;
}

footer a {
    color: #008f4c;
    text-decoration: none;
    font-size: 20px;
}

footer p {
    margin-top: 20px;
    font-size: 18px;
}

@media(min-width:488px) and (max-width:766px){

    main{
        width: 92%;
        padding: 35px;
    }

    header h1{
        font-size: 3rem;
        line-height: 55px;
    }

}

@media(min-width:767px){

    main{
        max-width: 1100px;
        padding: 50px;
    }

    header h1{
        font-size: 4rem;
        line-height: 70px;
    }

}